<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body">
          <h3> Detail Page
            <div class="float-end">
              <div class="d-grid gap-2 d-md-flex" >
                <%= link_to "Speeches list", speeches_path, class:"btn btn-info" %>
                <%= link_to "Edit", edit_speech_path(@speech), class:"btn btn-warning" %>
                <%= link_to "Delete", @speech, method: :delete, class: "btn btn-danger",
                     data: { turbo_method: :delete, turbo_confirm: "Are You sure delete this data?" } %>
              </div>
            </div>
          </h3>
          <p style="color: green"><%= notice %></p>
          <% #render @speech %>
          <table class="table table-image table-striped mt-5">
            <tr>
              <th width="15%">Logo</th>
              <td class="w-25">
                <% if @speech.logo? %>
                  <%= image_tag @speech.logo.url , class:"img-fluid img-thumbnail" %>
                <%end%>
              </td>
            </tr>
            <tr>
              <th>President name</th>
              <td><%= @speech.president_name %></td>
            </tr>
            <tr>
              <th>Country Age</th>
              <td><%= @speech.country_age %></td>
            </tr>
            <tr>
              <th>Tagline</th>
              <td><%= @speech.tagline %></td>
            </tr>
            <tr>
              <th colspan="2">Content</th>
            </tr>
            <tr>
              <td colspan="2">
                <%= raw @speech.content %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
